@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
body {
    font-family: 'Noto Serif TC', serif;
    background-color: #000;
    background: url("../images/character.png") no-repeat center center fixed;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 800px;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
}

#logo {
    width: 80%;
    height: 80%;
}

#splash {
    text-align: center;
}

#splash a {
    text-decoration: none;
    color: #AAA;
}

#splash a:hover {
    color: #FFBF00;
}

#splash h1 {
    background-color: #000;
    border-style: solid;
    border-radius: 10px;
    border-color: #FFBF00;
    color: #FFBF00;
}

#splash #information {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* well quoteSpace section */

#space {
    width: 75%;
    text-align: center;
    color: #000;
}

#person {
    font-style: italic;
    font-weight: 600;
}


/* quoteBtn section */

#generator {
    text-align: center;
}


/* DO I NEED MEDIA QUERIES? */

@media screen and(max-width: 760px) {
    #generator {
        display: block;
    }
}